<h1>About</h1>
  

  <div class="container">
    <div class="row">
      <div class="span9">
      	<p>
        <%= link_to "GamifyRussia", "http://gamifyrussia.com" %>
	    Gamification community in Russia 
	    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
	    in one month. This is the sample application.
        </p> 
    </div>
      <div class="span3">
      	<h2>About Us</h2>
        <%= yield %>
	  </div>
    </div>
  </div>
</body>
</html>